@model ProjetoEscola.Models.Aluno

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edição</a> |
    <a asp-action="Index">Voltar</a>
</div>
