@model ProjetoEscola.Models.Entities.Curso_Disciplina

@{
    ViewData["Title"] = "Cadastro";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="curso_id" class="control-label">Código do Curso</label>
                @Html.DropDownList("curso_id", new SelectList(ViewBag.listaCursos, "id", "nome"), "Selecione", new { @class = "form-control" })
                <i class="form-group-bar"></i>
                <span asp-validation-for="curso_id" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="disciplina_id" class="control-label">Código do Curso</label>
                @Html.DropDownList("disciplina_id", new SelectList(ViewBag.listaDisciplinas, "id", "nome"), "Selecione", new { @class = "form-control" })
                <i class="form-group-bar"></i>
                <span asp-validation-for="disciplina_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_desativacao" class="control-label">Data de Desativação</label>
                <input asp-for="data_desativacao" class="form-control" />
                <span asp-validation-for="data_desativacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
